<#@ template debug="false" hostspecific="true" language="C#v3.5" #>
<# 
	GenerationParams.GenSettings settings = ((pindwin.umvr.Editor.Generation.UMVRTemplateGenerator)Host).Settings;
	GenerationParams.GenRepository repository = settings.GenRepository;
#>
namespace <#= repository.Namespace #>
{
	internal partial class <#= repository.Type #><TReactor>
	{ }
}